@page
@model IndexModel
@{
    ViewData["Title"] = "Games";
}

@section PageContentScripts {
    <script type="text/javascript">
        ko.applyBindings(new GameListPage());
    </script>
}

<h1>@ViewData["Title"]</h1>

<div class="well-sm">This page lists all games.</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: games">
        <tr>
            <td data-bind="text: name"></td>
            <td><a data-bind="attr: {href: 'Game/Details/' + id() }">Details</a></td>
        </tr>
    </tbody>
</table>