@page
@model Frontend.Pages.Session.LiveSessionModel
@{
    ViewData["Title"] = "Live session";
}

@section PageContentScripts {
    <script type="text/javascript">
        ko.applyBindings(new LiveSessionPage('@Model.SessionId', '@Model.PlayerName'));
    </script>
}

<h2>LiveSession</h2>

<h4>You: <span data-bind="text: playerName"></span></h4>

<!-- ko with: game -->

<label>Players</label>
<ul data-bind="foreach: players">
    <li data-bind="text: $data"></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">Current errand</div>
    <div class="panel-body">
        <p data-bind="text: currentErrand"></p>
    </div>
</div>
<!-- /ko -->


<button class="btn btn-primary" data-bind="click: nextErrand">Pop errand</button>
