@page
@model Frontend.Pages.Session.LobbyModel
@{
    ViewData["Title"] = "Lobby";
}

@section PageContentScripts {
    <script type="text/javascript">
        ko.applyBindings(new LobbyPage('@Model.Id'));
    </script>
}

<h2>Lobby</h2>

<form data-bind="with: session">
    <div class="form-group">
        <label>Game</label>
        <p class="form-control-static" data-bind="text: gameName"></p>
    </div>

    <label>Players</label>

    <ul data-bind="foreach: players">
        <li data-bind="text: $data"></li>
    </ul>
</form>

<br />

<div class="input-group">
    <input type="text" class="form-control" data-bind="textInput: playerName">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-bind="click: join">Join</button>
    </span>
</div>

<br />
<label>Events</label>
<!-- TODO: This should actually display different information depending on event type.-->
<div class="list-group" data-bind="foreach: events">
    <div class="list-group-item">
        <h4 class="list-group-item-heading" data-bind="text: name"></h4>
        <p class="list-group-item-text" data-bind="text: description"></p>
    </div>
</div>