@page
@model Frontend.Pages.Session.SessionListModel
@{
    ViewData["Title"] = "Sessions";
}

@section PageContentScripts {
    <script type="text/javascript">
        ko.applyBindings(new SessionListPage());
    </script>
}

<div class="well-sm">This page lists all sessions.</div>

<form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Game</th>
                <th>Errands</th>
                <th>Players</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sessions">
            <tr>
                <td data-bind="text: gameName"></td>
                <td data-bind="text: errands().length"></td>
                <td data-bind="text: players().length"></td>
                <td>
                    <a class="btn btn-block btn-primary" data-bind="attr: {href:'Lobby/?id='+ id()}">Go to lobby</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>