@page
@model Frontend.Pages.Session.SessionListModel
@{
    ViewData["Title"] = "Sessions";
}

@section PageContentScripts {
    <script type="text/javascript">
        ko.applyBindings(new SessionListPage());
    </script>
}

<div class="well-sm">This page lists all sessions.</div>

<form>
    <div class="form-group">
        <label>Player name</label>
        <input class="form-control" type="text" data-bind="textInput: playerName" />
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Game</th>
                <th>Errands</th>
                <th>Players</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sessions">
            <tr>
                <td data-bind="text: gameName"></td>
                <td data-bind="text: errands().length"></td>
                <td data-bind="text: players().length"></td>
                <td>
                    <button class="btn btn-primary" data-bind="click: $parent.joinSession">Join</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>