@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section PageContentScripts {
    <script type="text/javascript">
        var page = new BasePage();
        page.dataLoaded();
        ko.applyBindings(page);
    </script>
}

<div class="jumbotron">
    <h1 class="text-center">Task Randomizer game</h1>

    <div class="col-md-6">
        <p class="text-center"><a class="btn btn-primary btn-lg" asp-page="/Session/SessionSetup">Setup game</a></p>
    </div>
    
    <div class="col-md-6">
        <p class="text-center"><a class="btn btn-primary btn-lg" asp-page="/Session/SessionList">Join game</a></p>
    </div>
</div>
