@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section PageContentScripts {
    <script type="text/javascript">
        var page = new BasePage();
        page.dataLoaded();
        ko.applyBindings(page);
    </script>
}

<div class="jumbotron">
    <h1>Task Randomizer game</h1>
    <p><a class="btn btn-primary" asp-page="/Session/SessionSetup">Setup game</a></p>
</div>
